In [13]:
import pandas as pd
import matplotlib.pyplot as  plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
sortie = pd.read_csv("titanic-passengers.csv", sep=";");
sortie.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S

In [3]:
LesValeurNull= sortie.isnull().sum()
print("Les champs avec le nombre de valeurs null")
LesValeurNull

Les champs avec le nombre de valeurs null

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
print("La somme des valeurs null")
LesValeurNull.sum()

La somme des valeurs null

866

In [7]:
# remplaçons les données manquantes
sortie.drop(['Cabin'],axis=1,inplace=True)
modeEmbarked = sortie['Embarked'].mode()[0]
meanAge = sortie['Age'].mean()
sortie['Age'].fillna(meanAge,inplace=True)
sortie['Embarked'].fillna(modeEmbarked , inplace=True)

In [8]:
print("reverifications du fichier s'il ne contient pas de valeur no renseigné")
sortie.isnull().sum().sum()

reverifications du fichier s'il ne contient pas de valeur no renseigné

0

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
sortie['Sex']=encoder.fit_transform(sortie['Sex'])
sortie['Survived']=encoder.fit_transform(sortie['Survived'])
sortie.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.00,S
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.65,S

In [14]:
x=sortie[["Age", "Sex"]]
y=sortie["Survived"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,random_state=40)

In [15]:
logreg = LogisticRegression()  
logreg.fit(x_train, y_train)  
# y_pred  = logreg.predict(x_test)   
print("Accuracy={:.2f}".format(logreg.score(x_test, y_test)))

Accuracy=0.77

In [18]:
confusion_matrix=pd.crosstab(y_test,logreg.predict(x_test) , rownames=['Actual'],colnames=['Predicted'])
print(confusion_matrix)

Predicted    0   1
Actual
0          156  33
1           38  85

In [23]:
TFP=33/(33+85)
print("Taux de vrais positifs est de : " + str(TFP))

Taux de vrais positifs est de : 0.2796610169491525

In [22]:
TVP=156/(156+38)
print("Taux de vrais positifs est de : " + str(TVP))

Taux de vrais prositifs est de : 0.8041237113402062